{
    tailscale {
        ephemeral true
        tags tag:test

        test-server {
            hostname test-server
        }

        plc {
            hostname plc
        }
    }
}

https://test-server.{$TS_DOMAIN} {
    bind tailscale/test-server
    reverse_proxy test-server:80
}

https://plc.{$TS_DOMAIN} {
    bind tailscale/plc
    reverse_proxy plc:3000
}