{
    tailscale {
        ephemeral true
        tags tag:test
    }
}

https://{$SUBDOMAIN}.{$TAILSCALE_DOMAIN} {
    bind tailscale/{$SUBDOMAIN}
    reverse_proxy 127.0.0.1:{$PORT}
}

# Health check
:8080 {
    respond OK
}